.background {
  background: #1a1a1b;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px 0;
}

.text {
  margin: 20px 0;
}

.buttonWrapper {
  margin: 10px 0;
}
