.button {
  color: #010104;
  padding: 8px 15px;
  border: 2px solid #fff;
  background-color: #fff;
  text-decoration: none;
  border-radius: 0px;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.button:hover {
  color: #fff;
  background-color: transparent;
}

.button.black {
  background-color: #010104;
  color: #fff;
}

button.black:hover {
  color: #010104;
  background-color: #fff;
}

.animate {
  -webkit-animation: button 2s infinite !important;
          animation: button 2s infinite !important;
}

@-webkit-keyframes button {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

@keyframes button {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}