.button {
  color: #010104;
  padding: 10px 20px;
  border: 2px solid #fff;
  background-color: #fff;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;

  transition: 0.3s all;
}

.button:hover {
  color: #fff;
  background-color: transparent;
}

.animate {
  animation: button 2s infinite !important;
}

@keyframes button {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
