.background {
  background: #221f28;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 30px 0;
}

.question {
  width: 100%;
  padding: 20px;
  margin-top: 10px;
  background-color: #313133;
}

.answer {
  width: 100%;
  padding: 20px;
  background-color: #3d3d40;
  border: 3px solid #313133;
}

.question:hover {
  cursor: pointer;
}

.accordion {
  margin-top: 20px;
  width: 100%;
}